version: '3.8'

services:
  eureka-server:
    image: eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - eureka-network

  gestion-risiduos:
    image: gestion-residuos
    container_name: gestion-residuos
    ports:
      - "8080:8080"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      - eureka-server
    networks:
      - eureka-network

  gestion-emergencias:
    image: gestion-emergencias
    container_name: gestion-emergencias
    ports:
      - "8081:8081"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - SPRING_DATASOURCE_URL=jdbc:mysql://gestion-emergencias-db:3308/gestion_emergencias
      - SPRING_DATASOURCE_USERNAME=admin
      - SPRING_DATASOURCE_PASSWORD=admin
    depends_on:
      - eureka-server
    networks:
      - eureka-network

  gestion-emergencias-db:
    image: mysql:latest
    container_name: gestion-emergencias-db
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=gestion_emergencias
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=admin
    ports:
      - "3308:3306"
    networks:
      - eureka-network

networks:
  eureka-network:
    name: eureka-network